body {
  margin: 0;
  font-family: "Nunito Sans", Arial;
}

body * {
  box-sizing: border-box;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.button {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  font-family: "Nunito Sans";
  line-height: 15px;
  text-align: center;
}

@media screen and (max-width: 768px){
  .button {
      display: none;
     }
  }

.button2 {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 19px 42px;
  color: white;
  margin-right: 20px;
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}

@media screen and (max-width: 1300px){
  .button2 {
      width: 93%;
      margin-left: 12px;
  }
  }

  .button5 {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0);
    height: 51px;
    width: 207px;
    color: #FFFFFF;
    font-family: "Nunito Sans";
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;

}

@media screen and (max-width: 768px){
  .button5 {
      width: 93%;
      margin-top: 20px;
      margin-left: 12px;
     }
  }

.logo {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #e3b873;
}

@media screen and (max-width: 1300px) {
.logo {
    padding-right: 0px;
}
}

.phone-number {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  text-decoration-line: underline;
  color: #e3b873;
  margin-left: 20px;
}

@media screen and (max-width: 1300px) {
.phone-number {
    color: #FFFFFF;
    text-decoration: none;
}
}

.header {
  background-color: black;
  margin: 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}

@media screen and (max-width: 1300px) {
.header-content {
    height: 80px;
    width: 90%;
    max-width: 950px;
}
}

.header-navigation {
  list-style: none;
  display: flex;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
}

@media screen and (max-width: 768px){
  .header-navigation {
      display: none;
     }
  }


.header-navigation__item {
  margin-right: 40px;
}

.header-navigation__item a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}



.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .hero {
  padding-top: 70px;
  height: 476px;

    }
  }


.hero-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 768px){
  .hero-overlay {
     height: 476px;;
     }
  }

.hero-container {
  position: relative;
  z-index: 1;
}

@media all and (max-width: 768px) {
  .hero-container {
  width: 360px;
  }
}

.title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  margin: 0 auto;
  color: #ffffff;
}

@media screen and (max-width: 768px){
  .title {
    font-weight: 400;
    font-size: 23px;
    line-height: 132.83%;
  }
  }

.title2 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: white;
}

@media screen and (max-width: 768px){
  .title2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 135.84%;
  }
  }

.hero2 {
  margin: 0 auto;
  padding-top: 40px;
  background: #131313;
  height: 1050px;
}
 
@media screen and (max-width: 768px){
  .hero2  {
    padding-top: 5px;
    height: 1500px;
     }
  }

.hero2_projects {
  display: flex;
  flex-flow: column;
  padding-right: 0;
  max-width: 1171px;
  margin: 0 auto;
}

.conteiner-hero2_navigation_projects {
  margin-bottom: 53px;
  width: 679px;
  padding-left: 560px;
}

.navigation_projects {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

@media screen and (max-width: 768px){
  .navigation_projects {
      display: none;
     }
  }

.navigation_item_projects {
  margin-right: 46px;
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
}

.navigation_item_projects a {
  font-family: "Yeseva One";
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

.navigation_item_projects :hover {
  color: #e3b873;
  border-bottom: solid 1px;
  padding-bottom: 3px;
}

.completed {
  display: flex;
  max-width: 1250px;
  margin:auto;
}

@media screen and (max-width: 768px){
  .completed   {
    flex-wrap: wrap;
  }
     }
  
.completed2 {
  font-family: "Yeseva One";
  font-weight: 100;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e3b873;
  margin-top: 0px;
}

@media screen and (max-width: 768px){
  .completed2  {
    margin-left: 65px;
    text-align: center;
    font-size: 22px;
    line-height: 138.6%;
  }
     }

.completed3 {
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 42px;
  font-stretch: ultra-expanded;
  padding-right: 50px;
  text-align: start;
  margin-top: 95px;
  margin-left: -150px;
}

@media screen and (max-width: 768px){
  .completed3  {
    padding-right: 0;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
    width: 360px;
    font-size: 11px;
    line-height: 158.48%;
    margin-left: 5px;
  }
     }


.block {
  display: grid;
  grid-template: 100px / repeat(2, 14%);
  gap: 30px;
  
}

@media screen and (max-width: 768px){
.block {
  grid-template: 100px / repeat(2, 150px);
  max-width: 360px;
  margin-left: 16px;
  margin-top: 50px;
}
}


.title-block {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #e3b873;
}

.title2-block {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
}


.img2 {
  background-color: black;
  height: 200px;
  position: absolute;
  right: 130px;
  margin-top: -218px;
  margin-right: 120px;
}

@media screen and (max-width: 768px) {
.img2 img {
  width: 320px;
  height: 213px;
  object-fit: cover;margin-left: 25px;
  }
}

@media screen and (max-width: 768px) {
.img2 {
    position: relative;
    margin: 0px;
    right: 0px;
    background: none;
        }
}



.blockimg2 {
  display: flex;
  }

  @media screen and (max-width: 768px) {
    .blockimg2 {
        order: 1px;
            }
    }

.elips1 {
display: none;
}


@media only screen and (min-device-width : 320px)
and (max-device-width : 480px) { 
  .elips1 { display: inline; }
}

.elips2 {
  display: none;
  }


  @media only screen and (min-device-width : 320px)
and (max-device-width : 480px) { .elips2 { display: inline; }}

@media screen and (max-width: 768px){
  .elipsmobile {
    justify-content: space-between;
    display: flex;
    margin-top: -380px;
    margin-left: 40px;
    margin-right: 45px;
    position: relative;
  
}
  }

.arrow-block {
  display: flex;
  justify-content: left;
  padding-top: 26px;
  margin-left: 370px;
  align-items: center;
}

@media screen and (max-width: 768px){
  .arrow-block  {
      display: none;
     }
  }

.arrow-left {
  transform: rotate(-180deg);
  padding-left: 20px;
}


.arrow-left-arrow-block {
  margin-top: 0px;
}

.point-arrow-left-arrow-block:hover {
  opacity: 1;
  background-color: #ffffff;
}

.point-arrow-left-arrow-block {
  height: 9.5px;
  width: 9.5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-left: 9.5px;
}

.arrow-right-arrow-block {
  padding-left: 29.5px;
}

.arrow-right {
  float: right;
}

.conteiner_online_control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -400px;
}

@media all and (max-width: 768px) {
  .conteiner_online_control {
    margin-top: -950px;
}
  }

.h2_conteiner_online_control {
  padding-bottom: 5px;
}

.h2_online_control {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media all and (max-width: 768px) {
  .h2_online_control {
      margin-top: 50px;
      width: 100%;
        }
}
  

.hero3 {
  margin: 0 auto;
  padding-top: 107px;
  height: 850px;
}

.img_conteiner_online_controls {
  border-radius: 30px;
  height: 1.5px;
  background-color: #e3b873;
  width: 32px;
}

.img_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 31.21px;
}

.img_line_online_controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -320px;
}

.img_camera {
  padding-left: 9px;
  padding-right: 9px;
}

.img_line {
  height: 1.5px;
  background-color: #e3b873;
  width: 32px;
}

.video_online_control_hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video_online_control_container {
  position: relative;
}

@media all and (max-width: 768px) {
  .video_online_control_container img {
    width: 320px;
    height: 213px;
    object-fit: cover;
    }
  }

.fon-video_online_control {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-color: #131313;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 768px) {
  .fon-video_online_control {
    width: 320px;
    height: 213px;
    object-fit: cover;
    }
  }

.icon-online-controls-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}



.circle-icon-online-controls-container {
  border-radius: 42.5px;
  width: 85px;
  height: 85px;
  background-color: #e3b873;
}


@media (max-width: 768px) {
  .circle-icon-online-controls-container {
    width: 37px;
    height: 37px;
        }
  }


.triangle-icon-online-controls-general-container {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle-icon-online-controls-container {
  border: 18px solid transparent;
  border-left: 28px solid white;
  margin-left: 22px;
}

@media all and (max-width: 768px) {
  .triangle-icon-online-controls-container {
    border: 7px solid transparent;
    border-left: 12px solid white;
    margin-left: 9px;
    }
  }

  @media all and (max-width: 768px) {
    br {
      display: none;
  
      }
    }

  @media all and (max-width: 768px) {
    .triangle-icon-online-controls-container {
      border: 7px solid transparent;
      border-left: 12px solid white;
      margin-left: 9px;
      }
    }

.line_conteiner_online_control {
  height: 1.5px;
  width: 55px;
  background-color: #e3b873;
  margin-top: 62.5px;
  margin-bottom: 34.5px;
}
.text_conteiner_online_control {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  color: #363636;
}

@media all and (max-width: 768px) {
  .text_conteiner_online_control {
    padding-right: 0;
    margin-top: 0;
    margin-left: 5px;
    text-align: center;
    width: 360px;
    font-size: 11px;
    line-height: 158.48%;
    color: white;
}
    }
  
 @media screen and (max-width: 375px) {
      br {
        visibility: hidden;
        display: none;
      }
    }

.form-submit-online_control {
  display: grid;
  margin: 91px 334px 35px 600px;
  width: 769px;
  height: 51px;
  grid-template-columns: repeat(3, 1fr);
}

@media all and (max-width: 768px) {
  .form-submit-online_control {
    display: block;
    margin-left: 20px;
    width: 90%;
    margin-top: 50px;
    padding-bottom: 100px;
     }
  }

.form-submit-online_control_text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
 
}

@media all and (max-width: 768px) {
  .form-submit-online_control_text {
 color: rgba(255, 255, 255, 0.5);
   }
  }

.form-submit-online_control_input {
  border-style: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

@media all and (max-width: 768px) {
  .form-submit-online_control_input {
    border-bottom: 1px solid white;
    width: 100%;
    border-radius: 0px;
    background-color: #131313;
    padding: 0px;
   }
  }

.form-submit-online_control_input::placeholder {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
  opacity: 1;
}

.button3 {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  width: 207px;
  height: 51px;
  color: white;
  text-transform: uppercase;
  font-family: Nunito Sans;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .button3 {
 width: 100%;
 margin-top: 108px;
   }
  }

.checkbox_container_mobile {
  display: none;
}

.checkbox_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 46px;
}

@media all and (max-width: 768px) {
  .checkbox_container {
  margin-top: 90px;
   }
  }

.checkbox_text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #181818;
}

@media all and (max-width: 768px) {
  .checkbox_text {
 color: white;
 font-size: 11px;
   }
  }

.label {
  cursor: pointer;
}

.checkbox {
  display: none;
}


.fake {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #e3b873;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.fake::before {
  content: "\2714";
  opacity: 0;
  transition: 0.2s;
}

.checkbox:checked + .fake::before {
  opacity: 1;
}

.h2_online_control-2 {
  color: #181818;
}

@media all and (max-width: 768px) {
  .h2_online_control-2 {
    margin-top: 100px;
}
  }


.types-of-repair_display {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

@media all and (max-width: 768px) {
  .types-of-repair_display {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 207px;
    gap: 70px;
}
}
  
.types-of-repair_display_item {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  height: 286px;
  margin-top: -120px;
  margin-left: 30px;
  background: #ffffff;
  box-shadow: 10px 10px 20px rgb(0 0 0 / 3%);
  position: relative;
  padding-bottom: 13px;
}

@media all and (max-width: 768px) {
  .types-of-repair_display_item {
    width: 90%;
    margin-left: 0px;
}
  }

.title4 {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  margin: 0;
  background: white;
  padding-top: 25px;
  padding-left: 30px;
  padding-bottom: 13px;
}

@media all and (max-width: 768px) {
  .title4 {
    font-size: 15px;
    line-height: 138.6%;
}
}

.title4_list {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  color: #959595;
  /*margin-bottom: 10px;*/
  padding-bottom: 13px;
}

@media all and (max-width: 768px) {
  .title4_list {
    font-size: 13px;
    line-height: 169.8%;
}
}

@media all and (max-width: 768px) {
  .types-of-repair_image {
    width: 340px;
         }
  }

.button4 {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  width: 228px;
  height: 54px;
  color: white;
  text-transform: uppercase;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  margin-top: -25px;
  padding-top: 17px;
  padding-bottom: 17px;
}

@media all and (max-width: 768px) {
  .button4 {
    margin-top: 15px;
    font-size: 15px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}
  }

.main-types-of-repair_display {
  margin-left: 160px;
}

@media all and (max-width: 768px) {
  .main-types-of-repair_display {
    margin-left: -200px;
}
  }

.hero4 {
  justify-content: center;
  padding-top: 107px;
  height: 850px;
  margin-top: 600px;
}

@media all and (max-width: 768px) {
  .hero4 {
 visibility: hidden;
 display: none;
}
}

.steps-of-work-container {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  position: relative;
}

.steps-of-work {
  width: 45%;
  height: 585px;
  display: flex;
  flex-direction: column;
  padding-top: 65px;
  margin-left: 150px;
}

.steps-of-work_item {
  display: flex;
  align-items: center;
  margin-top: 100px;
  }

.steps-of-work-container_image {
  position: absolute;
  z-index: -1;
  left: -150px;
  top: 100px;
}

.circle {
  display: flex;
  background: #e3b873;
  border: 6px solid #ffffff;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  border-radius: 30px;
  width: 41px;
  height: 41px;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: white;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
  min-width: 41px;
}

.text-steps {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.request-form-steps {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  width: 506px;
  background: black;
  max-height: 550px;
  margin-right: 120px;
}

.request-form-steps_headline {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: white;
  background: black;
  padding: 28px 109px 39px 104px;
}

.form-text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 49px;
}

.form-text_input {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  background-color: black;
  border-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  width: 408px;
  margin-left: 49px;
  margin-right: 49px;

  color: #ffffff;
}

.checkbox_container {
  display: flex;
  color: white;
  padding-bottom: 28px;
  margin-top: 30px;
  align-items: center;
  margin-right: 120px;
}

.checkbox_text2 {
  color: #ffffff;
}

.button3_steps {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  width: 207px;
  height: 51px;
  color: white;
  text-transform: uppercase;
  font-family: Nunito Sans;
  font-weight: normal;
  font-size: 11px;
  font-style: italic;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  margin-left: 280px;
  margin-block: -150px;
}

.pig-container {
  display: flex;
  margin-top: 100px;
  margin-left: 30px;
}

.pig_image {
  background: #e3b873;
  box-shadow: 0px 10px 20px rgb(237 192 120 / 20%);
  width: 72px;
  height: 72px;
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pig_text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #e3b873;
  text-shadow: 0px 3px 10px rgb(227 184 115 / 15%);
  margin-left: 10px;
  margin-top: 10px;
}

.hero5 {
  position: relative;
  z-index: 1;
  background-image: url("../images/image 5.1.png");
  background-size: cover;
}

@media (max-width: 768px) {
  .hero5  {
    padding-top: 70px;
    height: 245px;
    width: 340px;
    margin-top: 1280px;
    margin-left: 20px;
    }
  }

  @media (max-width: 768px) {
    .elipsmobile2  {
      justify-content: space-between;
      display: flex;
      margin-top: -100px;
      margin-left: 40px;
      margin-right: 45px;
      position: relative;
      }
    }

.hero5-container {
  position: relative;
  z-index: 1;
  padding: 137px 0px 0px 100px;
  height: 864px;
  margin-top: 400px;
}

@media (max-width: 768px) {
  .hero5-container {
   margin-top: 0px;
      }
    } 

.hero5-blackout {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .hero5-blackout  {
    visibility: hidden;
    display: none;
    }
  }

.foto-realize {
  position: absolute;
  z-index: 3;
  display: flex;
  top: -112px;
  left: auto;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .foto-realize  {
  position: absolute;
  z-index: 3;
  top: 170px;
    }
  }

  @media (max-width: 768px) {
    .elipsmobile2  {
      justify-content: space-between;
      display: flex;
      margin-left: 40px;
      margin-right: 45px;
      position: relative;
      margin-top: 30px;
  }
      }
    
.fotos-realize-left,
.foto2-realize-right {
  position: relative;
  display: flex;
  width: 354px;
  margin: 0px 43px 40px 0px;
}

@media (max-width: 768px) {
.fotos-realize-left, .foto2-realize-right {
    visibility: hidden;
    display: none;
  }
}

.foto1-realize-left {
  margin-top: 80px;
  margin-left: 400px;
}

.li-text {
  cursor: pointer;
  list-style-type: none;
  color: white;
  padding: 0px;
}

@media (max-width: 768px) {
  .li-text {
      visibility: hidden;
      display: none;
    }
  }

.li-text .li-styles {
  font-family: "Nunito Sans", "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 25px;
  width: 200px;
}

.li-text .li-styles:hover {
  text-decoration: underline;
  color: #e3b873;
  transition: 0.1s;
  transition-delay: 0.1s;
}

.hero5-text {
  font-family: "Yeseva One", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e3b873;
  margin: 0px 0px 34px;
}

@media (max-width: 768px) {
  .hero5-text {
       font-size: 22px;
      text-align: center;
      margin-top: -450px;
      padding: 40px;
      margin-left: -110px;
      text-transform: uppercase;
  }
 }
      
  
  @media screen and (max-width: 375px) {
    br {
      visibility: hidden;
      display: none;
    }
  }

.hero6 {
  position: relative;
  height: 1107px;
  background-image: url("../images/sixth_section_background_image.png");
  background-repeat: repeat-x;
  background-position-y: bottom;
  padding-top: 110px;
}

@media screen and (max-width: 768px) {
  .hero6 {
    height: 100px;
  }
}


.hero6-client {
  margin-bottom: 39px;
}

.foto-clients {
  display: flex;
  justify-content: center;
}

.foto-blocks {
  position: relative;
  align-self: center;
  justify-content: center;
  align-content: center;
  width: 376px;
  height: 428px;
  padding: 25px 20px 90px 20px;
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  margin: 0px 27px;
}

@media (max-width: 768px) {
  .foto-blocks {
      visibility: hidden;
      display: none;
    }
  }

.client1 {
  display: flex;
  align-items: center;
  border-radius: 36px;
}

.client1-images {
  width: 76px;
  height: 76px;
  border-radius: 36px;
}

.city2 {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -400px;
}

@media (max-width: 768px) {
  .city2 .client1 .client1-images  {
      visibility: hidden;
      display: none;
    }
  }

  @media (max-width: 768px) {
    .city-foto {
        visibility: hidden;
        display: none;
      }
    }
  
    @media (max-width: 768px) {
      .img_containermobile {
          visibility: hidden;
          display: none;
        }
      }

.feedback {
  font-family: "Nunito Sans", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  color: #959595;
  margin: 22px 0px 0px 0px;
}

.feedback-blocks {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  z-index: 3;
  top: 400px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 294px;
  height: 54px;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  background: #e3b873;
  color: #ffffff;
  margin: 0px;
}

.view-image {
  width: 32px;
  height: 31px;
  align-self: center;
}

.text-image {
  font-family: "Yeseva One", serif;
  cursor: default;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
}

.request-form-steps {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  width: 506px;
  background: black;
  max-height: 550px;
  margin-right: 120px;
  position: relative;
  margin-left: 540px;
}

.steps-of-work-container {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  position: relative;
}


.form-text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 49px;
}

.form-text_input {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  background-color: black;
  border-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  width: 408px;
  margin-left: 49px;
  margin-right: 49px;
  color: #ffffff;
}


@media screen and (max-width: 768px) {
  .form-text_input  {
    width: 80%;
   }
}

.checkbox_container {
  display: flex;
  color: white;
  padding-bottom: 28px;
  margin-top: 30px;
  align-items: center;
  margin-right: 120px;
}

.button3_steps {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  width: 207px;
  height: 51px;
  color: white;
  text-transform: uppercase;
  font-family: Nunito Sans;
  font-weight: normal;
  font-size: 11px;
  font-style: italic;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  margin-left: 280px;
  margin-block: -150px;
}

@media screen and (max-width: 768px) {
  .button3_steps {
    margin-top: -1px;
    margin: auto;
    width: 90%;
    margin-left: 20px;
   }
}

.request-form-steps2 {
  margin-left: 500px;
  width: 760px;
  margin-block: -170px;
}

@media screen and (max-width: 768px) {
  .request-form-steps {
    margin-top: -250px;
    padding-block: 150px;
    margin-left: 0px;
    width:100%;
  }
}
  

.checkbox_container2 {
  margin-right: 0px;
}

.hero7 {
  text-align: center;
  background-image: url("../images/foncity.png");
  height: 954px;
  padding-top: 275px;
  background-color: #181818;
  background-size: 100% 100%;
}



.hero7 {
  display: flex;
  text-align: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .hero7 {  text-align: center;
    background-image: none;
    height: 740px;
    padding-top: 275px;
    background-color: black;
    background-size: 100% 100%;
      }
    }
  

.container-hero7-container {
  z-index: 1;
  margin-right: 150px;
}

.h2_online_control-4 {
  color: #e3b873;
}


@media (max-width: 768px) {
  .h2_online_control-4 {  
    font-size: 18px;
    margin-left: 20px;
    width: 145%;
      }
    }
    

.contact {
  height: 28px;
  width: 28px;
  margin: 0px 8px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .block_contact {
   margin-left: 132px;
        }
  }

.contact-conteiner {
  position: relative;
  z-index: 1;
  margin: 44px auto;
  height: 465px;
  width: 925px;
  background: #c4c4c4;
  filter: grayscale(100%) brightness(90%)
    drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
  background: #c4c4c4;
}

.contact-conteiner:hover {
  filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
}

.img-adress-contacts {
  height: 465px;
  width: 925px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .img-adress-contacts {
      visibility: hidden;
      display: none;
    }
  }

.img-adress-mobile {
    display: none;
}

@media screen and (max-width: 1300px) {
.img-adress-mobile 
{ display: block;
  width: 140%;  
  margin-left:25px ; }
  }

.adress-contacts {
  z-index: 1;
}

@media (max-width: 768px) {
  .h3_mobiletext {
      width: 180%;
    }
  }

.footer {
  background-color: #181818;
}

@media (max-width: 768px) {
  .footer {
      visibility: hidden;
      display: none;
    }
  }